footer {
  background: var(--secondaryClr);
}

.quotation, .copy {
  display: flex;
  justify-content: center;
  padding: 0.25rem;
}

.copy {
  font-size: 0.75rem;
}

/* <weight>: Use a value from 400 to 700 */

.dancing-script-travel {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
}

#back-top{
    opacity: 0;
    z-index: 99999;
    font-size: 20px;
    color:white;
    line-height: 40px;
    text-align: center;
    position: fixed;
    right: 10px;
    bottom: -10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.6s ease;
    transform: translateY(40px);
    background: var(--primaryClr);
}

#back-top.active{
    opacity: 1;
    transition: all 0.6s ease;
    transform: translateY(-20px);
}